*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

body{
 background-color: #191919;
}    
    
nav{
 
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 background-color: #191919;
 padding:80px 20px ;
 height: 10vh;
 z-index: 9;
}
.videoTitle{
 
}


nav a{
 text-decoration: none;
 color: #00eaff;


}
.icon{
 position: absolute;
 left: 7%; 
 font-size: 20px;
}
.nav-search{
position: relative;
}
.nav-search input{
width: 80vw;
height: 6vh;
color: #fff;
outline: none;
border: none;
background-color: #212121;
border-radius: 8px;
padding:0 40px;
}


.trending{
 padding: 0 20px;

}
.trending h3{
  border-left: 2px solid #ff6a7f;
  padding: 0 10px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}


.container{
padding:5px 20px;
display: flex;
align-items: center;
z-index: 1;
width: 100%;
transition:all .5s ease;
position:relative;
}
.container:active{
transform: scale(0.95);
}


.img img{
 width: 55px;
 height: 55px;
 border-radius: 5px;
 object-fit: cover;
 
}
.img{ 
 overflow: hidden;
 height: 100%;
 z-index: 11;
 }
.title{
 width: 70%;
 padding: 0 20px;
 margin-top: 5px;
 pointer-events: none;
}
.title h3{
 white-space: nowrap; /* Prevent text from wrapping */
 overflow: hidden; /* Hide overflow text */
 text-overflow: ellipsis;
 color: #fff;
 font-weight: 400;
}
#channel{
 margin-top: -14px;
 pointer-events: none;
 color: #ff6a7f;
 font-weight: 300;
}
.details{
 width: 100%;
 height: 7vh;
 background-color:#212121 ;
 border-radius: 10px;
 display: flex;
 flex-direction: row;
} 
main{
 margin-top: 25px;
}
 .suggestion{
 padding: 20px 20px;
}
.suggestion h3{
  border-left: 2px solid #ff6a7f;
  padding: 0 10px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}
.suggestion h2{
  padding: 0 10px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: -20px;
}
.suggestion img{
 width: 200px;
 height: 200px;
 border-radius: 10px;
 object-fit: cover;

}
.suggestion-container{
 padding: 40px 0;
} 
 
 
 


.slide1{
height:40vh;
margin-left: 10px;
}
   .slide1 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-slide {
      width: 80%;
      height: 30vh;
      border-radius: 10px;
      background-color: #212121;
      transform: scale(0.25);
    }
.slide1{
 transition: all .5s ease-in-out;
}

      .swiper-slide:nth-child(1n) {
      width: 40%;
       height: 30vh;
    }
    .swiper-slide:nth-child(2n) {
      width: 40%;
       height: 30vh;
    }

    .swiper-slide:nth-child(3n) {
      width: 40%;
       height: 30vh;
    }
.suggestion-wrapper{
width: 100%;
height: 80%;
background-color: #212121;
transition: all .5s ease-in-out;
}
.suggestion-img{
 width: 100%;
 height: 100%;
 
}
.suggestion-img img{
 border-radius: 5px;
}
.suggestion-name h3{
 color: #fff;
 font-weight: 400;
 font-size: 20px;
 margin-top: 15px;
}




.player{
 position: fixed;
 bottom:60px;
 width: 100%;
 height: 10vh;
 background-color: #212121;
 z-index: 1111;
 border-radius:10px;
 display: flex;
 flex-direction: row;
 transition: all .1s ease;
}
.player-details{
 display: flex;
}
.player-img img{
 width: 55px;
 height: 55px;
 border-radius: 5px;
 object-fit: cover;
 
}
.player-img{
 padding: 10px 1vw;
}

.player-title{
 padding: 15px 1vw;
 width: 40vw;

 display: flex;
 flex-direction: column;
}
.player-title h3{
 color: #fff;
 font-weight: 300;
}

#channel{
 pointer-events: none;
 color: #ff6a7f;
 font-weight: 300;
}


.play-music{
 padding: 15px 0;
 display: flex;
 
}

.play-music i{
 font-size:35px;
 transition: all .55s ease-in-out;
 font-weight: 100;
 
}
.play-music p{
 transition: all .3s ease;
 font-weight: 100;
 
}
.play-music p:active{
 transform: scale(0.9);
}
.play-music #play{
 color: #6aff8d;
 transition: all .55s ease;
}
.play-music p{
 transition: all .55s ease;
}

.channel #channel{
 margin-top: 0;
} 

#backward,#forward{
 color: #fff;
}


#ytForm{
 opacity: 0;
}


#videoTitle{
  white-space: nowrap; /* Prevent text from wrapping */
 overflow: hidden; /* Hide overflow text */
 text-overflow: ellipsis;
 color: #fff;
 font-weight: 400;
 width: 35vw;

}


#channel{
  white-space: nowrap; /* Prevent text from wrapping */
 overflow: hidden; /* Hide overflow text */
 text-overflow: ellipsis;

 font-weight: 400;
 width: 35vw;

}
#download{
 color: #fff;
}

.player{
    
    cursor: grabbing; /* Change cursor to grabbing while dragging */
}

.player-title h3,
.channel,img {
    user-select: none;
}


#playerChannel{
 color:#ff6a7f;
}



.tab-content{
 display: flex;
 flex-direction: column;
 width: 100%;
 position: fixed;
 bottom: 0;
 height: 8vh;
 background-color: blue;
 border-radius:5px ;
 z-index: 111;
}
#page{
 transition: all .2s ease;
}
.page-cont{
 overflow: hidden;
}

.page1 {
    position: relative; 
    z-index: 1; 
}



.tab-content {
    display: flex;    
    justify-content: center;
    z-index: 9999;
    width: 100%;
    position: fixed;
    bottom: 0; /* Adjust position to above the player */
    left: 0; /* Adjust position to left */
    height: 8vh;
    background-color:#0f0e0ede;
    border-radius: 5px;
   
}



.tab-content button{
 border: none;
 outline: none;
 background-color:#0f0e0ede ;
 color: white;
 padding: 15px 47px;
 justify-content: space-between;
 border-radius: 25px;
 transition: all .33s ease;
 z-index: 4;
 font-size: 20px;
 display: flex;
 align-items: center;
 
}
.tab-content button p{
 transition: all .55s ease;
}
.tab-content button.active{
color:  #6aff8d; 
background-color: #212121;  
} 

.tab-content button.active {
color:  #6aff8d; 
background-color: #212121; 
} 



.tab-content button:active{
color:  #6aff8d; 
 background-color: #212121; 
}

.tab-content button p{
 opacity: 0;
 display: none;
 font-size: 15px;
 font-weight: 300;
 margin-left: 5px;
}
.tab-content button.active p{
 opacity: 1;
 display: flex;
}

.tabContainer{
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: absolute;
 }



.page2 {
    background-color: #191919;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(100%,100%);
    z-index: 2;
    
}

.player {
    position: fixed;
    bottom: 60px; /* Position fixed to the top */
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #212121;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    transition: all .1s ease;
    z-index: 9999; /* Higher z-index to remain on top */
}

.tab-content {
    display: flex;
    justify-content: center;
    z-index: 9999; /* Higher z-index to remain on top */
    width: 100%;
    position: fixed;
    bottom: 0; /* Position fixed below the player */
    left: 0;
    height: 8vh;
    background-color: #0f0e0ede;
    border-radius: 5px;
}
#search{
 color: #00eaff;
 
}